In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine(
    "postgresql://postgres:#Mukul2409@localhost:5432/churn_analysis"
)

In [4]:
query = """
SELECT
    c.customer_id,
    c.gender,
    c.senior_citizen,
    c.tenure,
    c.contract_type,
    b.monthly_charges,
    b.total_charges,
    s.internet_service,
    s.streaming,
    s.security,
    s.tech_support,
    st.churn
FROM customers c
JOIN billing b ON c.customer_id = b.customer_id
JOIN services s ON c.customer_id = s.customer_id
JOIN status st ON c.customer_id = st.customer_id
"""
df = pd.read_sql(query, engine)
df.head()

,customer_id,gender,senior_citizen,tenure,contract_type,monthly_charges,total_charges,internet_service,streaming,security,tech_support,churn
0,7590-VHVEG,Female,0,1,Month-to-month,29.85,29.85,DSL,No,No,No,No
1,5575-GNVDE,Male,0,34,One year,56.95,1889.50,DSL,No,Yes,No,No
2,3668-QPYBK,Male,0,2,Month-to-month,53.85,108.15,DSL,No,Yes,No,Yes
3,7795-CFOCW,Male,0,45,One year,42.30,1840.75,DSL,No,Yes,Yes,No
4,9237-HQITU,Female,0,2,Month-to-month,70.70,151.65,Fiber optic,No,No,No,Yes

In [5]:
df.shape

(7043, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       7043 non-null   object
 1   gender            7043 non-null   object
 2   senior_citizen    7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   contract_type     7043 non-null   object
 5   monthly_charges   7043 non-null   float64
 6   total_charges     7032 non-null   float64
 7   internet_service  7043 non-null   object
 8   streaming         7043 non-null   object
 9   security          7043 non-null   object
 10  tech_support      7043 non-null   object
 11  churn             7043 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 660.4+ KB

In [7]:
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
tenure               0
contract_type        0
monthly_charges      0
total_charges       11
internet_service     0
streaming            0
security             0
tech_support         0
churn                0
dtype: int64

In [8]:
df['total_charges'] = pd.to_numeric(df['total_charges'], errors='coerce')

In [9]:
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
tenure               0
contract_type        0
monthly_charges      0
total_charges       11
internet_service     0
streaming            0
security             0
tech_support         0
churn                0
dtype: int64

In [10]:
df['total_charges'] = df['total_charges'].fillna(0)

In [11]:
df.isnull().sum()

customer_id         0
gender              0
senior_citizen      0
tenure              0
contract_type       0
monthly_charges     0
total_charges       0
internet_service    0
streaming           0
security            0
tech_support        0
churn               0
dtype: int64

In [12]:
df['churn'] = df['churn'].map({'Yes': 1, 'No': 0})

In [13]:
df['churn'].value_counts()

churn
0    5174
1    1869
Name: count, dtype: int64

In [14]:
df.head()

,customer_id,gender,senior_citizen,tenure,contract_type,monthly_charges,total_charges,internet_service,streaming,security,tech_support,churn
0,7590-VHVEG,Female,0,1,Month-to-month,29.85,29.85,DSL,No,No,No,0
1,5575-GNVDE,Male,0,34,One year,56.95,1889.50,DSL,No,Yes,No,0
2,3668-QPYBK,Male,0,2,Month-to-month,53.85,108.15,DSL,No,Yes,No,1
3,7795-CFOCW,Male,0,45,One year,42.30,1840.75,DSL,No,Yes,Yes,0
4,9237-HQITU,Female,0,2,Month-to-month,70.70,151.65,Fiber optic,No,No,No,1

In [16]:
df.to_csv('../data/cleaned_churn_data.csv', index=False)