In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/cleaned_churn_data.csv')
df.head()

,customer_id,gender,senior_citizen,tenure,contract_type,monthly_charges,total_charges,internet_service,streaming,security,tech_support,churn
0,7590-VHVEG,Female,0,1,Month-to-month,29.85,29.85,DSL,No,No,No,0
1,5575-GNVDE,Male,0,34,One year,56.95,1889.50,DSL,No,Yes,No,0
2,3668-QPYBK,Male,0,2,Month-to-month,53.85,108.15,DSL,No,Yes,No,1
3,7795-CFOCW,Male,0,45,One year,42.30,1840.75,DSL,No,Yes,Yes,0
4,9237-HQITU,Female,0,2,Month-to-month,70.70,151.65,Fiber optic,No,No,No,1

In [3]:
df.shape

(7043, 12)

In [4]:
df['churn'].value_counts()

churn
0    5174
1    1869
Name: count, dtype: int64

In [5]:
df['churn'].value_counts(normalize=True) * 100

churn
0    73.463013
1    26.536987
Name: proportion, dtype: float64

In [6]:
df.groupby('contract_type')['churn'].mean() * 100
#“Customers with month-to-month contracts show the highest churn.”

contract_type
Month-to-month    42.709677
One year          11.269518
Two year           2.831858
Name: churn, dtype: float64

In [9]:
df.groupby(
    pd.cut(df['tenure'], bins=[0,6,12,24,60]),
    observed=False
)['churn'].mean() * 100

tenure
(0, 6]      53.333333
(6, 12]     35.886525
(12, 24]    28.710938
(24, 60]    18.342951
Name: churn, dtype: float64

In [11]:
df.groupby(pd.cut(df['monthly_charges'], bins=5))['churn'].mean() * 100

C:\Users\mukul\AppData\Local\Temp\ipykernel_18636\160004408.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(pd.cut(df['monthly_charges'], bins=5))['churn'].mean() * 100

monthly_charges
(18.15, 38.35]     11.407902
(38.35, 58.45]     26.965174
(58.45, 78.55]     29.480614
(78.55, 98.65]     36.966046
(98.65, 118.75]    30.057252
Name: churn, dtype: float64

In [12]:
df.groupby(pd.cut(df['monthly_charges'], bins=5))['churn'].mean() * 100

C:\Users\mukul\AppData\Local\Temp\ipykernel_18636\160004408.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(pd.cut(df['monthly_charges'], bins=5))['churn'].mean() * 100

monthly_charges
(18.15, 38.35]     11.407902
(38.35, 58.45]     26.965174
(58.45, 78.55]     29.480614
(78.55, 98.65]     36.966046
(98.65, 118.75]    30.057252
Name: churn, dtype: float64

In [15]:
revenue_at_risk = df[df['churn'] == 1]['monthly_charges'].sum()
revenue_at_risk

np.float64(139130.85)